@tailwind components;

@layer components {
    .wrapper-1 {
        .image-measurement-1 {
            img {
                @apply h-full w-full object-cover
            }
            @apply max-md:w-64 max-md:h-80 w-[80%] h-[100%] relative
        }
        @media (min-width: 768px) {
            width: clamp(12rem, 28vw, 30rem);
            height: clamp(12rem, 28vw, 32rem);
        }
    } 

    .wrapper-2 {
        .image-measurement-2 {
            img {
                @apply h-full w-full object-cover
            }
            @apply max-md:w-64 max-md:h-96 max-md:mb-20 relative
        }
        @media (min-width: 768px) {
            width: clamp(9rem, 26vw, 26rem);
            height: clamp(16rem, 35vw, 36rem);

            margin-bottom: clamp(6rem, 12vw, 13rem);
        }
    }

    .wrapper-3 {
        .image-measurement-3 {
           img {
               @apply h-full w-full object-cover
           }
           @apply max-md:w-64 max-md:h-96 w-[80%] h-[100%] max-md:mt-16 relative
       }
       @media (min-width: 768px) {
            width: clamp(15rem, 40vw, 52rem);
            height: clamp(15.5rem, 35vw, 42rem);
       }
    }

    .wrapper-4 {
        .image-measurement-4 {
            img {
                @apply h-full w-full object-cover 
            }
            @apply max-md:w-64 max-md:h-80 relative
        }
        @media (min-width: 768px) {
            width:  clamp(9rem, 21vw, 28rem);
            height: clamp(11rem, 23vw, 30rem);

            margin-bottom: clamp(11rem, 16vw, 19rem);
       }
    }

    .wrapper-5 {
        .image-measurement-5 {
            img {
                @apply h-full w-full object-cover
            }
            @apply max-md:w-56 max-md:h-32 max-md:mb-20 relative
        }
        @media (min-width: 768px) {
            width: clamp(11rem, 24vw, 28rem);
            height: clamp(6rem, 18vw, 22rem);
       }
    } 

    .wrapper-6 {
        .image-measurement-6 {
            img {
                @apply h-full w-full object-cover
            }
            @apply max-md:w-64 max-md:h-80 relative
        }
        @media (min-width: 768px) {
            width: clamp(12rem, 25vw, 30rem);
            height: clamp(12rem, 25vw, 32rem);
       }
    }

    .wrapper-7 {
        .image-measurement-7 {
           img {
               @apply h-full w-full object-cover
           }
           @apply max-md:w-64 max-md:h-80 w-[70%] h-[100%] max-md:mb-20 relative
       }
       @media (min-width: 768px) {
        width: clamp(18rem, 38vw, 40rem);
        height: clamp(16rem, 29vw, 30rem);
      }
    }

    
    @keyframes move-right {
        0%, 100% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(calc(100% - 80%));
        }
      }
    
      .animate-move-right {
        animation: move-right 24s infinite;
      }
}