.background-1 {
    background-color: rgb(149, 173, 203);
    background-attachment: fixed;
    background-image: 
        radial-gradient(83% 108% at 28% 28%, 
            rgba(204, 228, 255, 0.3) -10%, 
            rgba(204, 228, 255, 0.1) 40%, 
            rgba(204, 228, 255, 0) 60%), 
        radial-gradient(99% 67% at -22% 50%, 
            rgba(123, 146, 176, 0.8) 0%, 
            rgba(123, 146, 176, 0) 80%), 
        radial-gradient(166% 166% at 193% 195%, 
            rgb(123, 146, 176) 0%, 
            rgb(123, 146, 176) 70%, 
            rgba(123, 146, 176, 0) 95%), 
        linear-gradient(139deg, 
            rgba(204, 228, 255, 0) 0%, 
            rgba(204, 228, 255, 0) 70%, 
            rgba(204, 228, 255, 0.6) 110%), 
        radial-gradient(46% 54% at 53% -8%, 
            rgb(176, 200, 231) 0%, 
            rgba(176, 200, 231, 0) 100%), 
        radial-gradient(25% 37% at 95% 2%, 
            rgb(176, 200, 231) 0%, 
            rgba(176, 200, 231, 0) 90%);
        transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.background-2 {
    background-color: rgb(148, 187, 255);
    background-attachment: fixed;
    background-image: 
      radial-gradient(
        89% 95% at 32% 25%, 
        rgba(212, 243, 255, 0.3) -10%, 
        rgba(212, 243, 255, 0.1) 40%, 
        rgba(212, 243, 255, 0) 60%
      ), 
      radial-gradient(
        88% 82% at -21% 38%, 
        rgba(113, 160, 255, 0.8) 0%, 
        rgba(113, 160, 255, 0) 80%
      ), 
      radial-gradient(
        146% 146% at 169% 216%, 
        rgb(113, 160, 255) 0%, 
        rgb(113, 160, 255) 70%, 
        rgba(113, 160, 255, 0) 95%
      ), 
      linear-gradient(
        148deg, 
        rgba(212, 243, 255, 0) 0%, 
        rgba(212, 243, 255, 0) 70%, 
        rgba(212, 243, 255, 0.6) 110%
      ), 
      radial-gradient(
        44% 48% at 62% -7%, 
        rgb(180, 215, 255) 0%, 
        rgba(180, 215, 255, 0) 100%
      ), 
      radial-gradient(
        31% 33% at 102% 9%, 
        rgb(180, 215, 255) 0%, 
        rgba(180, 215, 255, 0) 90%
      );
      transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
